.forgot-password-page {

  padding: 60px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.forgot-box {
  background-color: #2f4160;
  padding: 60px;
  border-radius: 25px;
  width: 100%;
  max-width: 590px;
  min-height: 500px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forgot-header {
  margin-bottom: 30px;
}

.forgot-title {
  color: #ffffff;
  font-size: 35px !important;
  font-weight: 500;
  font-family: "BasisGrotesquePro";
  margin-bottom: 10px;
}

.forgot-subtitle {
  color: #ffffff;
  font-size: 18px !important;
  font-weight: 400;
  font-family: "BasisGrotesquePro";
  margin: 0;
}

.form-group {
  margin-bottom: 25px;
  margin-top: 50px;
}

.form-label {
  font-family: BasisGrotesquePro;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
  margin-bottom: 8px;
  display: block;
}

.form-control {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 16px;
  color: #4B5563;
  font-family: BasisGrotesquePro;
}

.send-btn {
  width: 100%;
  padding: 10px;
  background-color: #f56d2d !important;
  color: white !important;
  border: none;
  border-radius: 8px;
  font-weight: 500 !important;
  font-size: 18px !important;
  cursor: pointer;
  font-family: "BasisGrotesquePro";
  transition: none;
}

@media (max-height: 700px) {
  .forgot-box {
    padding: 20px 30px !important;
    max-height: 65vh !important;
    min-height: 400px !important;
  }

  .forgot-title {
    font-size: 26px !important;
  }

  .forgot-subtitle {
    font-size: 16px !important;
  }

  .form-label,
  .form-control {
    font-size: 13px;
  }

  .send-btn {
    font-size: 15px;
    padding: 8px;
  }
}

/* ✅ Responsive for laptops */
@media (max-width: 1100px) {
  .forgot-box {
    padding: 40px;
  }

  .forgot-title {
    font-size: 30px;
  }

  .forgot-subtitle {
    font-size: 18px;
  }

  .send-btn {
    font-size: 16px;
  }

  .form-label,
  .form-control {
    font-size: 14px;
  }
}