.verify-container {
  padding: 60px 40px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.otp-box {
  background-color: #3B4A66;
  padding: 60px;
  border-radius: 25px;
  width: 100%;
  max-width: 590px;
  min-height: 500px;
  color: white;
  box-sizing: border-box;
}

.otp-title {
  font-weight: 500;
  font-size: 35px;
  color: #FFFFFF;
  font-family: BasisGrotesquePro;
  margin-bottom: 15px;
}

.otp-subtitle {
  font-family: BasisGrotesquePro;
  font-weight: 400;
  font-size: 18px;
  color: #FFFFFF;
  margin-bottom: 25px;
  line-height: 1.5;
}

.highlight {
  color: #f56d2d;
  font-weight: bold;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 55px 0 30px;
}

.otp-input {
  width: 50px;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
  border: none;
  outline: none;
}

.verify-btn {
  width: 100%;
  padding: 10px;
  background-color: #f56d2d;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: 500;
  font-size: 18px;
  cursor: pointer;
  font-family: BasisGrotesquePro;
  margin-bottom: 20px;
}

.resend-text {
  text-align: center;
  font-family: BasisGrotesquePro;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}

.resend-link {
  color: #f56d2d;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  border-bottom: 2px solid #f56d2d;
  padding-bottom: 2px;
}

.popup-overlays {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.popup-box {
  background-color: #FFFFFF;
  padding: 30px;
  border-radius: 25px;
  width: 420px;
  text-align: center;
  box-sizing: border-box;
}

.popup-icon {
  font-size: 60px;
  color: #00C8A0;
  margin-bottom: 20px;
}

.popup-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 10px;
  color: #3B4A66;
  font-family: BasisGrotesquePro;
}

.popup-desc {
  font-size: 16px !important;
  font-weight: 400 !;
  margin-bottom: 25px;
  color: #3B4A66;
  font-family: BasisGrotesquePro;
}

.goto-dashboard-btn {
  background-color: #f56d2d;
  color: #FFFFFF;
  border: none;
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  cursor: pointer;
  font-family: BasisGrotesquePro;
}

@media (max-height: 750px) {
  .otp-box {
    padding: 60px 40px !important;
    min-height: auto !important;
  }

  .otp-title {
    font-size: 26px !important;
    margin-bottom: 10px !important;
  }

  .otp-subtitle {
    font-size: 14px !important;
    margin-bottom: 15px !important;
  }

  .otp-inputs {
    gap: 12px !important;
    margin: 30px 0 20px !important;
  }

  .otp-input {
    width: 40px !important;
    height: 40px !important;
    font-size: 18px !important;
  }

  .verify-btn {
    padding: 8px !important;
    font-size: 15px !important;
  }

  .resend-text,
  .resend-link {
    font-size: 14px;
  }
}

@media (max-width: 1100px) {
  .otp-box {
    padding: 40px 30px;
  }

  .otp-title {
    font-size: 28px;
  }

  .otp-subtitle {
    font-size: 16px;
  }

  .verify-btn,
  .goto-dashboard-btn {
    font-size: 16px;
  }
}