.personal-info-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;
  min-height: 100vh;

}

.personal-info-container {
  width: 100%;
  max-width: 600px;
  background: #3b4a66;
  padding: 40px;
  border-radius: 25px;
  color: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.personal-info-title {
  font-family: "BasisGrotesquePro";
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 5px;
  color: #fff;
}

.personal-info-subtitle {
  font-family: "BasisGrotesquePro";
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 25px;
}


.form-wrapper {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  color: #000;
}


.custom-label {
  font-size: 16px;
  font-weight: 500;
  color: #3b4a66;
  font-family: "BasisGrotesquePro";
  margin-bottom: 5px;
  display: block;
}


.custom-input {
  width: 100%;
  font-family: "BasisGrotesquePro";
  border: 1px solid #4b5563;
  border-radius: 8px;
  padding: 10px 40px 10px 14px;
  font-size: 14px;
  box-sizing: border-box;
}


.password-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}


.toggle-visibility-btn {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: #4b5563;
  cursor: pointer;
  font-size: 18px;
  padding: 0;
  display: flex;
  align-items: center;
}


.password-strength {
  background: #ffffff;
  border: 1px solid #e8f0ff;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.criteria {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}

.criteria-item {
  font-family: "BasisGrotesquePro";
  font-size: 13px;
}

.criteria-item.valid {
  color: green;
}

.criteria-item.invalid {
  color: red;
}

.highlight {
  color: #f49c2d;
  font-weight: 600;
}

.create-account-btn {
  background-color: #f56d2d;
  color: white;
  font-family: "BasisGrotesquePro";
  font-size: 17px;
  font-weight: 400;
  padding: 10px 30px;
  border-radius: 8px;
  border: none;
  margin-top: 25px;
  width: fit-content;
  cursor: default;
}


.create-account-btn:hover {
  background-color: #f56d2d;
  color: white;
  cursor: default;
}

.txts {
  color: #3b4a66 !important;
}


/* @media screen and (max-height: 750px) {
  .personal-info-wrapper {
    padding: 0;
    align-items: center;
  }

  .personal-info-container {
    height: 100vh !important;
    width: 85% !important;
    padding: 25px !important;
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px !important;
  }

  .personal-info-title {
    font-size: 20px;
    margin-bottom: 5px;
  }

  .personal-info-subtitle {
    font-size: 12px;
    margin-bottom: 15px;
  }

  .form-wrapper {
    padding: 15px;
    border-radius: 10px;
  }

  .custom-input {
    padding: 8px 32px 8px 12px;
    font-size: 13px;
  }

  .criteria-item {
    font-size: 12px;
  }

  .create-account-btn {
    font-size: 15px;
    padding: 8px 15px;
    margin-top: 15px;
  }
} */



@media screen and (max-width: 1024px) {
  .personal-info-container {
    padding: 25px;
    max-width: 90%;
  }

  .personal-info-title {
    font-size: 24px;
  }

  .personal-info-subtitle {
    font-size: 14px;
  }

  .create-account-btn {
    width: 100%;
    text-align: center;
  }
}