/* .custom-topbar {
  height: 70px;
  z-index: 1030;
}

.topbar-logo {
  height: 40px;
  margin-right: 7px;
}


.topbar-search {
  position: relative;
  flex: 1;
  max-width: 400px;
  margin-top: 5px;
}

.topbar-search input.form-control {
  padding-left: 52px;
  border-radius: 6px;
  height: 40px;
  font-size: 14px;
}

.topbar-search i {
  position: absolute;
  top: 41%;
  left: 16px; 
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
}



.notification-bell {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: #00C0C6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.topbar-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}




@media (max-width: 1280px) {
  .topbar-search {
    max-width: 260px;
    margin-left: 0.8rem;
  }
}


@media (max-width: 1200px) {
  .topbar-search {
    max-width: 220px;
    margin-left: 0.5rem;
  }
}


@media (min-width: 1600px) {
  .topbar-search {
    margin-left: 3rem;
    max-width: 500px; 
  }
} */


.custom-topbar {
  height: 70px;
  z-index: 1030;
}

.custom-topbar .topbar-logo {
  height: 40px;
  margin-right: 7px;
}

.custom-topbar .topbar-search {
  position: relative;
  flex: 1;
  max-width: 400px;
  margin-top: 5px;
}

.custom-topbar .topbar-search input.form-control {
  padding-left: 52px;
  border-radius: 6px;
  height: 40px;
  font-size: 14px;
}

.custom-topbar .topbar-search i {
  position: absolute;
  top: 41%;
  left: 16px; 
  transform: translateY(-50%);
  color: #888;
  font-size: 16px;
  pointer-events: none;
}

.custom-topbar .notification-bell {
  width: 35px;
  height: 35px;
  border-radius: 6px;
  background-color: #00C0C6;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.custom-topbar .topbar-user img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  object-fit: cover;
}

@media (max-width: 1280px) {
  .custom-topbar .topbar-search {
    max-width: 260px;
    margin-left: 0.8rem;
  }
}

@media (max-width: 1200px) {
  .custom-topbar .topbar-search {
    max-width: 220px;
    margin-left: 0.5rem;
  }
}

@media (min-width: 1600px) {
  .custom-topbar .topbar-search {
    margin-left: 3rem;
    max-width: 500px; 
  }
}

